.image-container {
    position: relative;
  }

  .image-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #3d4246;
    opacity: 0.4;
  }
  .image-container:hover::before{
    background-color: black;
    opacity: 0.75;
    cursor: pointer;
  }
  